/* https://piccalil.li/blog/a-modern-css-reset */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* custom properties  */

:root {
    --clr-primary-red: hsl(0, 100%, 67%);
    --clr-primary-orange: hsl(39, 100%, 56%);
    --clr-primary-teal: hsl(166, 100%, 37%);
    --clr-primary-blue: hsl(234, 85%, 45%);

    --clr-gradient-slate-blue: hsl(252, 100%, 67%);
    --clr-gradient-royal-blue: hsl(241, 81%, 54%);
    --clr-gradient-violet-blue: hsla(256, 72%, 46%, 1);
    --clr-gradient-persian-blue: hsla(241, 72%, 46%, 0);

    --clr-neutral-white: hsl(0, 0%, 100%);
    --clr-neutral-blue: hsl(221, 100%, 96%);
    --clr-neutral-lavender: hsl(241, 100%, 89%);
    --clr-neutral-grey: hsl(224, 30%, 27%);

    --fs-300: 1rem; /* 16px */
    --fs-400: 1.125rem; /* 18px */
    --fs-500: 1.5rem; /* 24px */
    --fs-600: 3.5rem; /* 56px */

    --fw-medium: 500;
    --fw-bold: 700;
    --fw-x-bold: 800;
}

body {
    display: grid;
    height: 100vh;
    width: auto;
}

.summary-container {
    display: flex;
    height: 100%;
    flex-direction: column;
    max-width: 736px;
    background-color: var(--clr-neutral-white);
}

.summary-container > :first-child {
    background: linear-gradient(to bottom, var(--clr-gradient-slate-blue), var(--clr-gradient-royal-blue));
    border-radius: 0 0 3rem 3rem;
    flex: 0.7;
}

.summary-container > :last-child {
    flex: 1;
}

@media (min-width: 768px) {
    body {
        place-items: center;
    }

    .summary-container {
        display: flex;
        flex-direction: row;
    }
}