@font-face {
    font-family: 'HankenGrotesk';
    font-display: swap;
    font-weight: 100 900;
    src: url('./assets/fonts/HankenGrotesk-VariableFont_wght.ttf') 
         format('truetype');
}

/* https://piccalil.li/blog/a-modern-css-reset */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
* {
  margin: 0;
  font: inherit;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* custom properties  */

:root {
    --clr-primary-red: 0, 100%, 67%;
    --clr-primary-orange: 39, 100%, 56%;
    --clr-primary-green: 166, 100%, 37%;
    --clr-primary-blue: 234, 85%, 45%;

    --clr-gradient-slate-blue: hsl(252, 100%, 67%);
    --clr-gradient-royal-blue: hsl(241, 81%, 54%);
    --clr-gradient-violet-blue: hsla(256, 72%, 46%, 1);
    --clr-gradient-persian-blue: hsla(241, 72%, 46%, 0);

    --clr-neutral-white: 0, 0%, 100%;
    --clr-neutral-blue: 221, 100%, 96%;
    --clr-neutral-lavender: 241, 100%, 89%;
    --clr-neutral-grey: 224, 30%, 27%;

    --ff-default: 'HankenGrotesk', sans-serif;

    --fs-300: 1rem; /* 16px */
    --fs-400: 1.125rem; /* 18px */
    --fs-500: 1.5rem; /* 24px */
    --fs-600: 3.5rem; /* 56px */

    --fw-medium: 500;
    --fw-bold: 700;
    --fw-x-bold: 800;
}

/* utility classes */

.grid-flow {
    display: grid;
    align-content: start;
    gap: 1rem;
}

.flex-group {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.grid-flow[data-spacing="large"] {
    gap: 2rem;
}

/* general styling */

body {
    display: grid;
    min-height: 100vh;
    font-family: var(--ff-default);
    font-optical-sizing: auto;
    font-style: normal;
    font-size: var(--fs-400);
    background-color: hsl(var(--clr-neutral-white));
    place-items: center;
    align-items: end;
}

.summary-container {
    display: grid;
    --padding: 2.25rem;
    --border-radius: 2rem;
    background-color: hsl(var(--clr-neutral-white));
}

.result {
    text-align: center;
    color: hsl(var(--clr-neutral-lavender));
    padding: var(--padding) calc(var(--padding) * 1.5);
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    background: linear-gradient(to bottom, var(--clr-gradient-slate-blue), var(--clr-gradient-royal-blue));
}

.section-title {
    font-size: var(--fs-400);
    font-weight: var(--fw-bold);
}

.result-score {
    width: 10rem;
    color: hsl(var(--clr-neutral-white));
    font-size: var(--fs-600);
    font-weight: var(--fw-x-bold);
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    display: grid;
    place-content: center;
    justify-self: center;

    background: linear-gradient(to bottom, var(--clr-gradient-violet-blue), var(--clr-gradient-persian-blue));
}

.result-score span {
    display: block;
    color: hsla(var(--clr-neutral-lavender), 0.5);
    font-size: var(--fs-300);
    line-height: 0.75;
}

.result-rank {
    color: hsl(var(--clr-neutral-white));
    font-size: var(--fs-500);
}

.result-info {
    font-size: var(--fs-300);
}

.summary {
    color: hsl(var(--clr-neutral-grey));
    padding: var(--padding);
}

.summary ul {
    padding: 0;
    margin: 0;
    font-size: var(--fs-300);
}

.summary-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.75rem;
    background-color: hsla(var(--category-clr), 0.05);
    padding: 1rem;
}

.summary-item--title {
    font-size: var(--fs-300);
    font-weight: var(--fw-medium);
    color: hsla(var(--category-clr), 1);
}

.summary-item:nth-child(1) {
    --category-clr: var(--clr-primary-red);
}

.summary-item:nth-child(2) {
    --category-clr: var(--clr-primary-orange);
}

.summary-item:nth-child(3) {
    --category-clr: var(--clr-primary-green);
}

.summary-item:nth-child(4) {
    --category-clr: var(--clr-primary-blue);
}

.summary-item--score {
    font-size: var(--fs-300);
    font-weight: var(--fw-bold);
}

.summary-item--score span {
    color: hsla(var(--clr-neutral-grey), 0.5);
}

button {
    background-color: hsl(var(--clr-neutral-grey));
    color: hsl(var(--clr-neutral-white));
    padding: 0.75rem 2rem;
    border-radius: 2rem;
    border: 0;
    font-size: 1.125rem;
}

button:hover,
button:focus {
    background: linear-gradient(to bottom, var(--clr-gradient-slate-blue), var(--clr-gradient-royal-blue));
}

.attribution {
    height: fit-content;
    margin-top: auto;
    text-align: center;
    padding-block: 1rem;
    font-size: var(--fs-300);
    color: hsl(var(--clr-neutral-lavender));
    text-decoration-skip-ink: none;
}

.attribution a:link,
.attribution a:visited,
.attribution a:hover,
.attribution a:active { 
    color: inherit;
}

@media (min-width: 640px) {
    :root {
        --fs-300: 1.125rem; /* 16px -> 18px */
        --fs-400: 1.5rem; /* 18px -> 24px */
        --fs-500: 2rem; /* 24px -> 32px */
        --fs-600: 4.5rem; /* 56px -> 72px */
    }

    body {
        background-color: hsl(var(--clr-neutral-blue));
    }

    .summary-container {
        margin-inline: 1.5rem;
        grid-template-columns: 1fr 1fr;
        max-width: 800px;
        border-radius: var(--border-radius);
        box-shadow: 0.5rem 2rem 4rem hsla(var(--clr-neutral-lavender), 0.6);
    }

    .result-score {
        width: 12rem;
    }

    .result {
        flex: 0.9;
        border-radius: var(--border-radius);;
    }
}
